<div class="jumbotron">
  <h1><i class="fa fa-list-alt"></i> ToDo Application</h1>
  <p>This is my smart ToDo list on Ruby on Rails Application</p>
  <p><%= link_to " Sign Up", '#', class: "btn btn-primary btn-lg fa fa-sign-in" %></p>
</div>