<div class="jumbotron">
  <h1><i class="fa fa-list-alt"></i> ToDo Application</h1>
  <p>This is my smart ToDo list on Ruby on Rails Application</p>
  <p><%= link_to "<i class='fa fa-sign-in'></i> Sign Up".html_safe, new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>